body {
  text-align: center;
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #73a5c6;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #73a5c6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a:link {
  color: whitesmoke;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

a:visited {
  color: whitesmoke;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.post{
  width: 100%;
  height: auto;
  background: #323439;
  color: whitesmoke;
  margin-top: 40px;
}

li {
  display: inline ;
  margin: 30px;
}

img {
  height: 400px;
  width: 500px;
  border: 5px solid lightgray;
  border-radius: 25px;

}

.home {
  font-size: 50px;
  font-family: Yeseva One;
  color: #feca1d;
  font-weight: bold;
}

.comment {
  font-size: 30px;
  font-weight: bolder;
}